*{
    margin: 0;
    padding: 0;
    
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}

.mainpageimage{
    background-image: url("trialimages/mainpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.container1{
    padding: 0px 0px 0px 20% ;

}
.navbarpara{
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    /* line-height: 1.5; */
}

.navbar-nav{
    margin-left: 55%;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}
.titlepara{
    margin: 10% 30% 2% 30%;
    background-color: rgba(48, 48, 48,0.5);
    /* opacity:0.6;  */
    border: 0;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

}

div.titlepara p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0;
    width: 600px;
    padding: 0;
}

.mb-3{
    margin: 144px 30% 16px 30%;
    padding: 8px 8px 10px 8px;
    background-color: rgba(48, 48, 48,0.5);
    width: 1080px;
    border-radius: 5px;
    animation: movingin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1)t;
    
}

@keyframes movingin{
    
    0%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0px);
    }
}

.inputbox{
    font-size: 1em;
    margin: 5px 3px 3px 3px;
    width: 526px;
    border: 0px;
    border-radius: 5px;
    float: right;
    background-color: rgba(80, 80, 80,0.5);

}

input[type=text]:focus {
    background-color: rgb(112, 112, 112);

    
    border: 3px solid rgb(153, 0, 0)    ;
  }

.labelcity{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold ;
    font-size: 1.5em;
    padding: 2px 2px 2px 80px;
    margin: 0;
}





@media (max-width:810px)
{
    .mainpageimage{
        background-color: rgb(0, 0, 0);
        background-image: unset;
    }
    .container1{
        padding: 0px 0px 0px 2px ;
        float: left;
    
    }
    .navbarpara{
        font-size: 1em;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        /* line-height: 1.5; */


    }
    .reduce-margin{
        margin:0;
        width:100px;
    }
    .navbar-collapse{
        float: right;
    }
    .titlepara{
        margin: 5% 2% 2% 2%;
    }

    .mb-3{
        margin: 144px 60% 16px 60%;
        width: 310x;
        padding: 8px 20% 10px 20%;
    }
    .labelcity{
        font-size: 1em;
        text-align: center;
        padding:2px 10px 2px 10px;
        margin:0 30% 0 30%;
    }
    .inputbox{
        width: 100%;
        margin: 5px 2px 3px 2px
    }

    .navbar-nav{
        margin:1%;
    }
    .nav-item
    {
        text-align: center;
    }
}