*{
    margin: 0;
    padding: 0;
    
}
body,html{
    height: 100%;
    width: 100%;
}
.bgimage{
    background-image: url('images/mainpage.jpg');
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    border: 0;
    position: relative;

}

.container1{
    position: absolute;
    overflow: hidden;
    list-style-type: none;
    height:100px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    opacity: 80%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    top:0px;
    left: 0px;
}


.logofill1{
    position: inherit;
    top:50%px;
    left: 10% ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 4em ;

}
.red{
    color: rgb(253, 0, 0);
    float: right;
}

.fillc1{
    position: absolute;
    height: 8%;
    width: 46%;
    background-color: rgb(31, 31, 31);
    margin-left: 27%;
    margin-top: 500px;
    padding: 0px;
    opacity: 80%;
    border:5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(97, 97, 97);
}
.name{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 30px;
    border:3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(68, 68, 68);
    box-sizing: border-box;
    margin: 0%;
    text-align: center;
    background-color: rgb(187, 187, 187);

}

.textname{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    position: absolute;
    font-size: 35px;
    text-align: left;
    top: 7%;
    left:70px;
    color: rgb(255, 255, 255);
}

input[type=text] {
    width: 600px;
    height: 50px;
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
    border:0px;
    top:7px;
    right: 3px;
    position: absolute;
    transform: scale(0.8);
    padding: 0px;

  }

  input[type=text]:focus {
    border: 5px solid rgb(0, 0, 0);
  }
  
